* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #333;
  height: 45px;
}

ul {


}

li {
  display: inline;
  background-color: #fff;
  padding: 8px;
  border-radius: 10px;
  margin: 10px;
}
